{% extends 'analytics.html' %}

{% block items %}

<div class="excess-form-container">
    <style>
        label {
          display: inline-block;
          width: 350px;
          padding: 20px;
          margin: 30px;
        }
    </style>
    <div class="report container fs-3">
        {% for excess in report %}
            <div class="row ">
              <div class="col-sm-3 d-flex justify-content-end">
              </div>
                                                                                     
              <div class="col-sm-9 d-flex justify-content-start align-items-center ">
                <b>{{excess.size}} {{excess.name}} {{ excess.percent_usage |floatformat:3 }} % used  </b>
              </div>
  
            </div>
        {% endfor %}
    </div>
    <form id="sales-form" class="container" method="post">
        {% csrf_token %}
        <div class="row">
          <label class="col" for="timestamp">Enter Timestamp</label>
          <input class="col" id="timestamp" name="timestamp" class="form-control" type="date"/>
        </div>
    </form>
    <button class="btn btn-success mx-2 my-2 " type="submit" form="sales-form" > Generate Excess Report </button>
</div>

{% endblock items %}
