{% extends 'analytics.html' %}

{% block items %}

<div class="frequent-form-container">
    <style>
        label {
          display: inline-block;
          width: 350px;
          padding: 20px;
          margin: 30px;
        }
    </style>
    <div class="report container">
        {% for frequent in report %}
        <div class="row">
          <span class="col-sm-4">
            <b>{{frequent.item_a_name}}</b>
          </span>
          <span class="col-sm-1">&nbsp;+&nbsp;</span>
          <span class="col-sm-4">
            <b>{{frequent.item_b_name}}</b>
          </span>
          <span class="col-sm-1">&nbsp;=&nbsp;</span>
          <span class="col-sm-2">
            <b>{{frequent.amount}}</b>
          </span>
        </div>
        {% endfor %}
    </div>
    <form class="container" id="sales-form" method="post">
        {% csrf_token %}
        <div class="row">
          <label class="col-sm-6" for="start_date">Enter Start Date as (yyyy-mm-dd):</label>
          <input class="col-sm-6" id="start_date" name="start_date" type="date"/>
        </div>
        <div class="row">
          <label class="col-sm-6" for="end_date">Enter End Date</label>
          <input class="col-sm-6" id="end_date" name="end_date" type="date"/>
        </div>
    </form>
    <button class="btn btn-success mx-2 my-2 " type="submit" form="sales-form" > Generate Frequent Report </button>
</div>

{% endblock items %}
