/* static/css/base.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,500;0,700;0, 800;0,980;1,100;1, 200;1,300;1,400;1,500;1,600; 1,700;1,880; 1,900&display=swap');

/* setting colors to reuse later */
:root{
    --starbucks-green: #006241;
    --white-color: #FFFFFF;
    --basic-text-color: #484848;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: var(--white-color);
    transition: .3s;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--starbucks-green);
}

ul{
    list-style: none;
}

.btn-success {
    background-color: var(--starbucks-green);
}

.sidebar {
    text-align: left;
    height: 100%;
    width: 160px; 
    background-color: var(--gray-color);
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 998;
}

.sidebar a {
    margin-left: 30px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 450px) {
    .sidebar {width: 100px };
    .sidenav a {font-size: 18px;}
}

.products {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-template-columns: repeat(4, minmax(150px, 300px));
    grid-gap: 20px;
}

.card-title {
    text-align: center;
}

.header {
    padding: 0;
    height: 5%;
    background: var(--white-color);
    box-shadow: 0px -2px 10px rgba(0,0,0,.1);
    transition: .3s;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.menu-header {
    color: var(--basic-text-color);
    font-size: 48px;
}

.header_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_initials {
    font-weight: 600;
    font-size: 28px;
    color: var(--basic-text-color);
    transition: .3s;
}

.header_rightside {
    display: flex;
    align-items: center;
}

.header-menu_list {
    display: flex;
    align-items: center;
}

.header-menu_item {
    margin-top: 10px;
    padding: 0 10px;
}

/*making the colored underline for header lol*/
.header-menu_link {
    font-weight: 500;
    font-size: 18px;
    color: var(--basic-text-color);
    display: inline-flex;
    position: relative;
    transition: .3s;
}

.header-menu_link:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 4px;
    background: var(--starbucks-green);
    border-radius: 2px;
    transition: .3s;
}

.header-menu_link:hover:after {
    width: 100%;
}

.header_bxmenu{
    display: none;
}

.header_bxmenu-menu{
    margin-left: 10px;
    font-size: 26px;
    color: var(--basic-text-color);
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
}

.intro {
    min-height: calc(100vh- 80px);
    display: flex;
    align-items: center;
}

.intro_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.intro_content{
    max-width:600px;
    width: 100%;
    padding-right: 20px;
}

.intro_title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
    color: var(--basic-text-color);
    margin-bottom: 10px;
    transition: .3s;
}

.intro_title span {
    color: var(--starbucks-green);
    transition: .3s;
}

.intro_position {
    display: block;
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-color);
    margin-bottom: 25px;
}

.intro_text {
    font-size: 20px;
    line-height: 1.3;
    color: var(--basic-text-color);
    margin-bottom: 10px;
    transition: .3s;
}


.meowbuckslogo {
    height:350px;
    display: block;
    opacity: 100;
    position: absolute;
    left: 60%;
    top: 20%;
}