{% extends 'base.html' %}

{% block extrahead %}
<title>{% block title %}Starbucks ⚬ Analytics{% endblock title %}</title>
{% endblock extrahead %} 

{% block content %}

<div style="text-align: center;">
    <h1>Starbucks ⚬ Analytics</h1>
    <h2>This is the manager page where a bunch of cool</br> managerial stuff will happen!</h2>
    <h3>Wait... why am i shrinking..?</h3>
    <h4>NoooOooooo</h4>
    <h5>oooOoOo</h5>
    <h6>OoOoo</h6>
    <p>oooo<p>
    <sup>ooo</sup>
</div>

{% block items %}
{% endblock items %}

{% endblock content %}