{% extends "base.html" %}

{% block content %}

<div class="checkout-container">
    {% for item in order.orderitem_set.all %}
    <div class="checkout-orders-container">
        <div class="item-name-price">
            <div class="item-name">{{item.menu_item.name}}    <b>${{item.menu_item.price}}</b></div>    
            <div class="item-price"></div>
        </div>
        <div class="item-size">
            <p>{{item.menu_item.size}}</p>
        </div>
        {% for customizationItem in item.itemcustomization_set.all %}
        <div class="customization-info">
            <div class="customization-output">{{customizationItem.amount}} {{customizationItem.customization.type}}(s) of {{customizationItem.customization.name}} <b>+${{customizationItem.getCustomizationPrice}}</b></div>
            <div class="customization-price"></div>
        </div>
        {% endfor %}
        <div class="total-item-price">Total Price of Item is ${{item.getPrice}}</div>

        <form method="POST", action="">
            {% csrf_token %}
            <button class="delete-cart-item" name="remove-id" value="{{item.id}}">Remove</button>
        </form>
        <hr>
    </div>
    {% endfor %}
    <div class="total">Total     ${{order.getPrice}}</div>
    <div class="checkout-button">
        <form method="POST", action="">
            {% csrf_token %}
            <button class="delete-cart-item" name="checkingout">Checkout ${{order.getPrice}}</button>
        </form>
    </div>
</div>

{% endblock content %}
