{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="mx-lg-5">
    <h1 class="mx-5 my-4">{{name}}</h1>
    {% for customization in customizations %}
    <div class="customization-wrapper mx-5">
        <div class="customization-container p-3">
            <span class="customization-name"> {{customization.name}} </span>
            <span class="customization-count">
                <button class="btn btn-sm btn-success btn-counter" onclick="decrement()">-</button>
                <span id="counting">0</span>
                <button class="btn btn-sm btn-success btn-counter" onclick="increment()">+</button>
            </span>
        </div>
    </div>
    </br>
    {% endfor %}
    <a class="btn btn-success btn-done" href="javascript:history.back()">Done</a>
</div>

<script>
    var data = 0;
    
    document.getElementById("counting").innerText = data;

    function increment() {
        data = data + 1;
        document.getElementById("counting").innerText = data;
    }

    function decrement() {
        if (data == 0) {
            data = 0;
        }
        else {
            data = data - 1;
        }
        document.getElementById("counting").innerText = data;
    }
</script>
{% endblock content %}