{% extends "base.html" %}
{% load crispy_forms_tags %}

<title>{% block title %}Meowbucks | {{ item.name }} {% endblock title %}</title>
{% block content %}
    <div class="container my-4">
        <div class="col-md-8">
            <form id="customization_form"  method="post">
                <h1 class="">{{ item.name }}</h1>
                    {% csrf_token %}
                    {{ form|crispy }}
            </form>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    {% if request.user.is_staff %}
                        <button class="btn btn-success mx-2 my-2 add-to-cart" type="submit" form="customization_form"> Add To Cart </button>
                    {% else %}
                        <img class="item-img" src="../../{{ item.image }}" alt="Card image {{ item.name }}"/>
                        <button class="btn btn-success mx-2 my-2 add-to-cart" type="submit" form="customization_form"> Add To Cart </button>
                        <div class="order-price"><font size="6"><b>PRICE: ${{orderItem.cost}}</b></font></p></div>
                        <div class="customizations">
                            {% for customizationItem in orderItem.itemcustomization_set.all %}
                            <div class="customization-info">
                                {% if customizationItem.customization.type != 'milk' %}
                                <div class="customization-output">{{customizationItem.amount}} {{customizationItem.customization.type}}(s) of {{customizationItem.customization.name}} >+${{customizationItem.getCustomizationPrice}}</div>
                                {% else %}
                                <div class="customization-output">{{customizationItem.customization.name}} milk +${{customizationItem.getCustomizationPrice}}</div>
                                {% endif %}
                                <div class="customization-price"></div>
                            </div>
                            {% endfor %}
                        </div>    
                        <p></p>
                        <div class="item-description">{{item.description}}</div>
                        <div class="item-ingredients">
                        <p></p>
                        <p>
                        <b> INGREDIENTS: </b>
                        {% for ingredient in item.ingredients.all %}
                            <b>{{ingredient.name}}</b>, 
                        {% endfor %}
                        </p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-1 mx-5">
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'milk' %}">Milk</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'coffee' %}">Extra Shot</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'syrup' %}">Syrup</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'sauce' %}">Sauce</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'drizzle' %}">Drizzle</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'lining' %}">Lining</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'foam' %}">Foam</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'splash' %}">Splash</a>
            </div>
            <div class="col-md-1 mx-5">
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'topping' %}">Topping</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'mix' %}">Mix</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'sweetener' %}">Sweetener</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'sweetener-pack' %}">Sweetener Packet</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'inclusion' %}">Inclusion</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'chai' %}">Chai</a>
                <a class="btn btn-success mx-2 my-2 btn-customization" href="{% url 'customization' 'juice' %}">Juice</a>
            </div>
        </div>
    </div>
{% endblock %}
